/* 
.train-card {
  background: linear-gradient(5deg, rgba(183, 232, 186, 1) 0%, rgba(155, 199, 199, 1) 100%);
  border: 2px solid #2e8e6f;
  border-radius: 10px;
  box-shadow: rgba(34, 112, 55, 0.896) 0px 2px 2px;
  padding: 20px;
  width: calc(33.33% - 20px); 
  transition: transform 0.2s ease-in-out;
  margin: 20px; }

.train-card:hover {
  transform: translateY(-5px);
}

.train-number {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #0d5001;
}

.train-name {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #000000;
}

.train-card p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #000000;
}

.booking {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking button {
  background-color: #2e8e6f;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.booking button:hover {
  background-color: #246b57;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}  */

.train-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.train-card {
  background: linear-gradient(5deg, rgba(183, 232, 186, 1) 0%, rgba(155, 199, 199, 1) 100%);
  border: 2px solid #2e8e6f;
  border-radius: 10px;
  box-shadow: rgba(34, 112, 55, 0.896) 0px 2px 2px;
  padding: 20px;
  width: calc(33.33% - 20px);
  transition: transform 0.2s ease-in-out;
  margin: 20px;
}

.train-card:hover {
  transform: translateY(-5px);
}

.train-number {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #0d5001;
}

.train-name {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #000000;
}

.train-card p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #000000;
}

.booking {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking button {
  background-color: #2e8e6f;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.booking button:hover {
  background-color: #246b57;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
