/* .flight-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .flight-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .flight-card p {
    margin: 0;
    line-height: 1.5;
  }
  
  .flight-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .flight-card a:hover {
    background-color: #0056b3;
  }
   */






   .flight-card {
    border: 2px solid #2e8e6f;
    border-radius: 10px;
    box-shadow: rgba(34, 112, 55, 0.896) 0px 2px 2px;
    padding: 20px;
    margin: 10px;
    display: flex;
    gap: 20px;
    background-color: #e6f7ed;
    background: linear-gradient(5deg, rgba(183, 232, 186, 1) 0%, rgba(155, 199, 199, 1) 100%);
    transition: transform 0.2s ease-in-out;
  }

  .flight-card:hover {
    transform: translateY(-5px);
  }

  .flight-card h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #0d5001;
  }

  .flight-card p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #000000;
  }

  .flight-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2e8e6f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }

  .flight-card a:hover {
    background-color: #246b57;
  }
.flight-detail{
  border-style: solid;
  border-width: 5px;
}

