.footer-div{
    background: rgb(83,183,129);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgb(83,183,129);
  background: linear-gradient(0deg, rgba(83,183,129,1) 0%, rgba(255,255,255,1) 84%);
    color: rgb(1, 60, 16);
height: 300px;
}